{% extends 'base.html' %}

{% block title %}Compare Services{% endblock %}

{% block content %}
<h1 class="text-center my-4">Compare Services</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Description</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
        <tr>
            <td>{{ service.service_name }}</td>
            <td>{{ service.service_description }}</td>
            <td>{{ service.company.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
